# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# IDE files
.vscode/
.idea/

# Drivers
.wdm/

# Logs
*.log
.venv/
__pycache__/
*.pyc
error.txt